{% block nav %}
	<nav>
		<ul>
			<li>
				<a href="{{ path('app_tickets_index') }}">Home</a>
			</li>
			<li>
				<a href="{{ path('app_about') }}">About us</a>
			</li>
			<li>
				<a href="{{ path('app_tickets_new') }}">New ticket</a>
			</li>
			{# Éléments pour utilisateurs connectés #}
			{% if app.user %}
				<li class="user-only ">
					<a href="{{ path('app_users_show', {'id': app.user.id}) }}">Profile</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="user-only ">
						<a href="{{ path('app_admin_index') }}">Dashboard</a>
					</li>
				{% endif %}
				<li class="user-only ">
					<a href="{{ path('app_logout') }}">Logout</a>
				</li>
			{% endif %}

			{# Éléments pour utilisateurs non connectés #}
			{% if not app.user %}
				<li class="guest-only ">
					<a href="{{ path('app_login') }}">Login</a>
				</li>
				<li class="guest-only ">
					<a href="{{ path('app_users_new') }}">Sign Up</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}
