{{ form_start(form) }}
{{ form_widget(form) }}

    <div class="form-buttons">
        <button class="btn btn-primary">{{ button_label|default('Submit') }}</button>
        <button class="btn btn-secondary" href="{{ path('app_users_index') }}">Back to Home</button>
    </div>
{{ form_end(form) }}
