{{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}
    
    <div class="form-buttons">
        <button class="btn btn-primary">{{ button_label|default('Submit') }}</button>
        <a class="btn btn-secondary" href="{{ path('app_users_show', {'id': user.id}) }}">Cancel</a>
    </div>
{{ form_end(form) }}
