{{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}
    
    <div class="form-buttons">
        <button class="btn btn-primary">{{ button_label|default('Submit') }}</button>
    </div>
{{ form_end(form) }}
