{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.nickname }}{% endblock %}

{% block body %}
    <section class="form-section">
        <h2>Profile of {{ user.nickname }}</h2>
        
        <div class="avatar-container">
            {% if user.avatar %}
                <img class="avatar" src="{{ asset('uploads/users/' ~ user.avatar) }}" alt="Avatar de {{ user.nickname }}">
            {% else %}
                <div class="avatar-placeholder">No avatar</div>
            {% endif %}
        </div>
        
        <div class="profile-details">
            <p><strong>Nickname :</strong> {{ user.nickname }}</p>
            <p><strong>First Name :</strong> {{ user.firstName }}</p>
            <p><strong>Last Name :</strong> {{ user.lastName }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
        </div>
        
        <div class="form-buttons">
            <a href="{{ path('app_tickets_index') }}" class="btn btn-secondary">Back to Home</a>
            <a href="{{ path('app_users_profile_edit', {'id': user.id}) }}" class="btn btn-info">Edit Profile</a>
            <a href="{{ path('app_users_change_password', {'id': user.id}) }}" class="btn btn-warning">Change Password</a>
            {{ include('users/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
